#AWS Access Key
AWS_ACCESS_KEY_ID = "AKIA2TZH53T4TBBEWXKS"
#AWS Secret Key
AWS_SECRET_ACCESS_KEY = "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"
#EC2 SSH Key Name
AWS_SSH_KEY_NAME = "ansible-k8s-deployer"
#AWS Region
AWS_DEFAULT_REGION = "us-east-2"
